.Input {
    margin-bottom: 1rem;
    border: 2px #6D72C3 solid;
}

.Submit {
    border: none;
    margin: 1rem auto;
    color: #fff;
}

.Submit:hover {
    background-color: #e36253;
}

.AuthForm {
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.AuthForm h1 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.AuthLink {
    padding: 0.25rem 0.5rem;
    color: #fff;
    margin: 0.25rem;
}

.AuthLink:hover {
    color: #e6dbfe;
}



