.Input {
    margin-bottom: 1rem;
    border: 2px #6D72C3 solid;
}

.Submit {
    border: none;
    margin: 1rem auto;
    color: #fff;
    font-weight: 700;
}

.Submit:hover {
    background-color: #e36253 !important;
}

.AuthForm {
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.AuthForm h1 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.Reset {
    text-align: left;
}

.ActionButtons {
    text-align: right;
}


