img {
    width: 100%;
    object-fit: cover;
}

/* Hex converted to rgba at https://rgbacolorpicker.com/hex-to-rgba */
.CarouselText {
    color: #6D72C3;
    font-weight: 800;
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: 1rem;
    left: -1rem;
}