.TaskContainer {
    padding-top: 1rem;
}

.TaskContainer > h3 {
    padding: 0 1rem;
}

.EditOptions {
    float: right;
}

.TaskCard {
    max-width: 78vw;
}

.TaskBody {
    white-space: pre-wrap;
}

.TaskContainerInner {
    min-height: 5rem;
}