.MenuButton {
    width: 3rem;
    z-index: 3;
}

.Menu {
    height: calc(100vh - 3rem);
    transition: flex-basis 0.3s;
    flex-basis: 0;
    z-index: 2;
}

.MenuOpened {
    flex-basis: 20rem;
}






@media only screen and (max-width: 576px) {
    .Menu {
      position: absolute;
    }
  }