.MenuButton {
    width: 3rem;
    z-index: 3;
}

.Menu {
    height: calc(100vh - 3rem);
    transition: flex-basis 0.3s;
    flex-basis: 0;
    z-index: 2;
}

.MenuOpened {
    flex-basis: 20rem;
}

.NavDivider {
    color: white;
}

.AutoClose {
    float: right;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.NavTitles {
    max-width: 10.5rem;
}


@media only screen and (max-width: 576px) {
    .Menu {
      position: absolute;
    }

    
  }